.change-masterpass-form, .change-username-form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.change-masterpass-form-input {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.password-input {
    width: 100%;
}

.toggle-password {
    width: 20px;
    height: 20px;
    text-align: center;
}

.errorMsg {
    color: #ff0000;
    margin: 10px;
    text-align: center;
}
