@import "colors";
@import "mixins";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  @include gradiant-background;

  .account {
    width: 350px;
    height: fit-content;
    padding: 20px 10px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    color: #ffffff;
    text-align: center;

    h1 {
      margin: 0 0 20px;
    }

    .change-username {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      margin-bottom: 20px;

      h4 {
        margin: 0;
      }

      .change-username-form {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        @include input;
        @include button;
      }
    }

    .change-masterpass {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h4 {
        margin: 0;
      }

      .errorMsg {
        color: #ff0000;
        margin: 10px;
        text-align: center;
      }

      .change-masterpass-form {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;

        .change-masterpass-form-input {
          width: 100%;
          @include input;
          input {
            width: calc(60% - 20px);
          }
        }

        @include button;
      }

    }

  }
}
