@import "mixins";
@import "colors";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  @include gradiant-background;

  display: flex;
  justify-content: center;
  align-items: center;

  .add-password-card {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 20px 50px #000;
    text-align: center;

    #add-password-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      align-items: center;
    }

    color: #ffffff;

    @include input;

    .form-password-field {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;

      #progressBar {
        height: 5px;
        display: none;
      }

      #progress {
        margin: 5px 5px;
        width: 60%;
        height: 5px;
        background-color: #eeeeee;
      }

      div {
        width: 100%;
      }

      @include input;

      input {
        width: calc(60% - 20px);
      }

      .gen-field {
        div {
          display: grid;
          grid-template-columns: auto auto;
          grid-row-gap: 5px;
          grid-column-gap: 5px;
          justify-content: center;
          align-items: center;
          justify-items: center;
          margin-bottom: 10px;

          input {
            width: 50%;
          }
        }

        @include button;
      }
    }

    @include button;
  }
}
