@import "mixins";
@import "colors";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  @include gradiant-background;

  display: flex;
  justify-content: center;
  align-items: center;

  .add-password-card {
    @include centered_card;
    padding: 5px;
    text-align: center;

    #add-password-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: center;
      align-items: center;
    }

    color: #ffffff;

    @include input;

    .form-password-field {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;

      #progressBar {
        height: 5px;
        display: none;
      }

      #progress {
        margin: 5px 5px;
        width: 60%;
        height: 5px;
        background-color: #eeeeee;
      }

      div {
        width: 100%;
      }

      @include input;

      input {
        width: calc(60% - 20px);
      }

      .gen-field {
        div {
          display: grid;
          grid-template-columns: auto auto;
          grid-row-gap: 5px;
          grid-column-gap: 5px;
          justify-content: center;
          align-items: center;
          justify-items: center;
          margin-bottom: 10px;

          input {
            width: 50%;
          }
        }

        @include button;
      }
    }

    @include button;
  }
}
