:root {
  --primary-color: #573b8a;
  --primary-color-hover: #6d44b8;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
body .overview {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
body .overview .overview-sidebar {
  width: calc(20% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-right: #ffffff 1px solid;
}
body .overview .overview-sidebar a {
  text-decoration: none;
  color: #ffffff;
}
body .overview .overview-sidebar a:hover {
  color: var(--primary-color-hover);
}
body .overview .overview-sidebar .overview-sidebar-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
body .overview .overview-sidebar .overview-sidebar-buttons button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .overview .overview-sidebar .overview-sidebar-buttons button:hover {
  background: var(--primary-color-hover);
}
body .overview .overview-sidebar .overview-sidebar-buttons button {
  max-width: 140px;
}
body .overview .overview-passwords {
  width: calc(60% - 20px);
  padding: 10px;
}
body .overview .overview-passwords .overview-passwords-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
body .overview .overview-passwords .overview-passwords-header button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .overview .overview-passwords .overview-passwords-header button:hover {
  background: var(--primary-color-hover);
}
body .overview .overview-passwords .overview-passwords-header button {
  width: 20px;
}
body .overview .overview-passwords .overview-passwords-subheader .trash-delete-info {
  color: #ff0000;
  font-weight: bold;
}
body .overview .overview-passwords .overview-passwords {
  width: calc(100% - 20px);
}
body .overview .overview-passwords .overview-passwords .overview-passwords-info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: #ffffff;
}
body .overview .overview-passwords .overview-passwords .overview-passwords-info p {
  margin: 0;
}
body .overview .overview-passwords .overview-passwords .overview-passwords-listing {
  list-style: none;
  padding: 5px;
  margin: 0;
}
body .overview .overview-passwords .overview-passwords .overview-passwords-listing li {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 10px 0;
}
body .overview .overview-passwords .overview-passwords .overview-passwords-listing li p {
  color: #ffffff;
  width: calc(100% - 10px);
  padding: 0 5px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
body .overview .overview-details {
  width: calc(20% - 20px);
  color: #ffffff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
body .overview .overview-details a, body .overview .overview-details h4, body .overview .overview-details h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}
body .overview .overview-details .deatils-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .overview .overview-details .deatils-heading button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .overview .overview-details .deatils-heading button:hover {
  background: var(--primary-color-hover);
}
body .overview .overview-details .overview-details-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
body .overview .overview-details .overview-details-buttons button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .overview .overview-details .overview-details-buttons button:hover {
  background: var(--primary-color-hover);
}
body .overview .overview-details .overview-details-buttons button {
  min-height: fit-content;
  width: fit-content;
}
body #edit-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .edit-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  row-gap: 10px;
}
body .modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 5px;
  justify-content: flex-end;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
body .modal button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .modal button:hover {
  background: var(--primary-color-hover);
}

#details-error {
    color: #ff0000;
    font-weight: bold;
}
