@import "colors";
@import "mixins";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  @include gradiant-background;

  .account {
    @include centered_card;
    padding: 20px 10px;
    height: fit-content;
    color: #ffffff;
    text-align: center;

    h1 {
      margin: 0 0 20px;
    }

    .change-username {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      margin-bottom: 20px;

      h4 {
        margin: 0;
      }

      .change-username-form {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        @include input;
        @include button;
      }
    }

    .change-masterpass {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h4 {
        margin: 0;
      }

      .errorMsg {
        color: #ff0000;
        margin: 10px;
        text-align: center;
      }

      .change-masterpass-form {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;

        .change-masterpass-form-input {
          width: 100%;
          @include input;
          input {
            width: calc(60% - 20px);
          }
        }

        @include button;
      }

    }

  }
}
