.add-password-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    height: 100%;
    justify-content: center;
}

.form-password-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gen-field {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 5px;
}

#progress {
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 5px;
    background-color: grey;
}

#progressBar {
    height: 5px;
    display: none;
}

section {
    height: 100%;
}