:root {
  --primary-color: #573b8a;
  --primary-color-hover: #6d44b8;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .add-password-card {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}
body .add-password-card #add-password-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
body .add-password-card input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
body .add-password-card .form-password-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .add-password-card .form-password-field #progressBar {
  height: 5px;
  display: none;
}
body .add-password-card .form-password-field #progress {
  margin: 5px 5px;
  width: 60%;
  height: 5px;
  background-color: #eeeeee;
}
body .add-password-card .form-password-field div {
  width: 100%;
}
body .add-password-card .form-password-field input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
body .add-password-card .form-password-field input {
  width: calc(60% - 20px);
}
body .add-password-card .form-password-field .gen-field div {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}
body .add-password-card .form-password-field .gen-field div input {
  width: 50%;
}
body .add-password-card .form-password-field .gen-field button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .add-password-card .form-password-field .gen-field button:hover {
  background: var(--primary-color-hover);
}
body .add-password-card button {
  padding: 5px;
  background: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
body .add-password-card button:hover {
  background: var(--primary-color-hover);
}
