@import "mixins";
@import "colors";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  @include gradiant-background;

  .welcome-gif-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #e5e5e5;
    position: absolute;
    z-index: 1;
    visibility: hidden;
  }

  .overview {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 40px);

    .overview-sidebar {
      width: 50px;
      padding: 20px 10px;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 2px solid white;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
          padding: 0;
        }

        a,
        button {
          text-decoration: none;
          color: #ffffff;
          display: flex;
          align-items: center;
          column-gap: 5px;

          span {
            display: none;
            font-family: "Jost", sans-serif;
          }

          &:hover {
            color: var(--primary-color);
          }
        }

        form {
          button {
            display: flex;
            align-items: center;
            column-gap: 5px;

            span {
              color: #ffffff;
              display: none;
              font-family: "Jost", sans-serif;
              font-size: 16px;
            }
          }

          &:hover {
            button {
              span {
                color: var(--primary-color);
              }
            }
          }
        }
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }

      i {
        color: #ffffff;
        font-size: 24px;
      }

      button:hover,
      a:hover {
        i {
          color: var(--primary-color);
        }
      }
    }

    .overview-passwords {
      width: calc(65% - 20px + 50px);
      padding: 10px;
      padding-left: 20px;

      .overview-passwords-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;

        @include button;

        button {
          width: 20px;
        }
      }

      .overview-passwords-subheader {
        .trash-delete-info {
          color: #ff0000;
          font-weight: bold;
        }
      }

      .overview-passwords {
        width: calc(100% - 20px);

        .overview-passwords-info {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          color: #ffffff;

          p {
            margin: 0;
          }
        }

        .overview-passwords-listing {
          list-style: none;
          padding: 5px;
          margin: 0;

          li {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            margin: 10px 0;

            p {
              color: #ffffff;
              width: calc(100% - 10px);
              padding: 0 5px;
              margin: 0;
              @include text-overflow;
              cursor: pointer;
            }
          }
        }
      }
    }

    .overview-details {
      width: calc(25% - 20px + 50px);
      color: #ffffff;
      padding: 5px;
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      #details-error {
        color: #ff0000;
        font-weight: bold;
      }

      a,
      h4,
      h5 {
        @include text-overflow;
        margin: 10px 0;
      }

      .details-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include button;
      }

      #details-website-link {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .overview-details-buttons {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        row-gap: 5px;
        flex-wrap: wrap;
        @include button;

        button {
          min-height: fit-content;
          width: fit-content;
        }
      }
    }
  }

  dialog[open] {
    animation: show 100ms ease normal;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
  }

  .errorMsg {
    color: #f00;
    text-align: center;
  }

  // Add specific styles for each dialog if needed...
  // For example:

  #edit-modal {
    @import "edit-modal";
  }

  #settings-modal {
    @import "account-settings";
  }

  #add-modal {
    @import "add-password";
  }


  @include footer_legals;
}